// Here you can add other styles

.nav-content-separator {
    height: 200px;
}

.content {
    margin-top: -140px;
}

.page-spinner {
  height: 3rem;
}

.filter-card {
    padding: .5rem .75rem .5rem .75rem;
}

.item {
    padding: 5px;
    img {
        width: 140px;
        height: 190px;
    }
    .card-body {
        padding: 5px;
        .card-title {
            font-weight: bold;
            margin-bottom: 5px;
        }
        .card-subtitle {
            width: 130px;
        }
    }
}

.summary {
    .card {
        background-color: transparent;
        border: none;
        img {
            width: 200px;
            height: 280px;
            margin-bottom: 10px;
        }
        .input-group {
            margin-top: 5px;
        }
        .card-body {
            padding-left: 5px;
            padding-right: 5px;
            .card-title {
                margin-top: 5px;
                margin-bottom: 5px;
                font-weight: bold;
            }
        }
    }
}

.episodes {
    .card {
        background-color: transparent;
        border: none;
        .card-header {
            .card-title {
                font-size: larger;
                font-weight: bold;
                margin-bottom: 2px;
            }
            .input-group {
                margin: 15px 0 10px 0;
            }
        }
        .card-body {
            .card-title {
                font-size: larger;
                font-weight: bold;
                margin-bottom: 2px;
            }
            table {
                thead th {
                    border: none;
                    padding: none;
                }
                button {
                    background-color: transparent;
                    border: none;
                    padding: 0;
                }
            }
        }
    }
}
